*{
    margin: 0px;
    border: 0px;
}

.Header1{
    height: 50px;
    display: flex;
    align-items: center;
    color: gray;
    border-bottom: 1px solid rgb(238, 236, 236);
}


.Header1Sub{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.HeaderPara{
    padding-left: 100px;
    padding-right: 50px;
    border-right: 1px solid rgb(238, 236, 236);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Font{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.Border{
    border: 1px solid gray;
    background-color: rgb(181, 180, 180);
    padding: 5px;
    border-radius: 50%;
    margin-left: 25px;
}

.Font1{
    padding-left: 50px;
}

.fa-solid{
    font-size: 17.5px;
    margin-right: 10px;
}

.Empty{
    width: 30%;
    margin-right: 50px;
}

.Header2Sub{
    width:20%;
    margin-left: 150px;
    display: flex;
}

.Para_h{
    font-size: 35px;
    font-weight: bold;
}

.Header2{
    height: 90px;
    display: flex;
    align-items: center;
    width: 100%;
}

.Header3Sub{
    width: 40%;
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: black;
}

.Header4Sub{
    font-size: 20px;
    font-weight: bold;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.Button1{
    font-size: 17.5px;
    font-weight: bold;
    /* padding: 10px; */
    border-radius: 20px;
    padding: 12.5px 30px 12.5px 60px;
    background-color: black;
    position: relative;
    color: white;
}

.Button1:hover .Text{
    color: orangered;
}

.Bord{
    /* padding: 5px; */
    border-radius: 50%;
    background-color: orangered;
    padding: 13.75px;
    position: absolute;
    right: 163px;
    top: 0px;
}

.Text{
    color: white;
}


/* Section 2 from here */

.Image_1{
    background-image: url(./Project_Images/banner-01.jpg);
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}

.Button2{
    padding: 10px;
    font-size: 20px;
    display: flex;
    background-color: white;

}

.Space{
    margin-left: 5px;
    color: orangered;
}

.MainText{
    padding-top: 260px;
    margin-left: 425px;
}

.MainText2{
    padding-top: 20px;
    margin-left: 425px;
}

.ImageText{
    font-size: 80px;
    color: white;
    font-weight: bold;
}

/* Section 3 From here */

.Sec3{
    margin-top: 150px;
}

.Parent{
    display: flex;
    justify-content: space-evenly;
}

.Image2{
    width: 355px;
    height: 490px;
    background-size: cover;
    background-image: url("./Project_Images/featured.jpg");
    position: relative;
}

.Box1{
    width: 350px;
    height: 490px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.ImageIcon1{
    border: 1px solid orangered;
    padding: 17.5px;
    border-radius: 50%;
    background-color: orangered;
    position: absolute;
    bottom: -50px;
    left: -50px;
}

.Text1{
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    border-left: 3px solid orangered;
    margin-bottom: 20px;
    margin-left: -120px;
    color: orangered;
}

.Text2{
    font-size: 55px;
    margin-left: -120px;
    font-weight: bold;
}

.Text5{
    font-size: 55px;
    margin-left: -120px;
    font-weight: bold;
}

.BoxSub1{
    display: flex;
    /* border-bottom: 1px solid grey; */
    justify-content: center;
    align-items: center;
}

.Line {
  border-bottom: 1px solid rgb(210, 207, 207);
  height: 2px;
  width: 270px;
  margin-left: 40px;
}


.BoxSub2{
    display: flex;
    justify-content: center;
}


.IconProp{
    margin-left: -40px;
    margin-top: 35px;
    margin-right: 25px;
    padding-bottom: 30px;
}
.Text3{
    font-size: 25px;
    font-weight: bold;
}

.Text6{
    margin-top: 30px;
    font-size: 25px;
    font-weight: bold;
}

.Text4{
    font-size: 17.5px;
    color: grey;
}



/* Section 4 from here */

.Sec4{
    margin-top: 120px;
}

.VideoBG{
    background-image: url("./Project_Images/video-bg.jpg");
    background-size: cover;
    /* width: 1600px; */
    height: 550px;
    position: relative;
    margin-bottom: 375px;
}

.Text7{
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    border-left: 3px solid orangered;
    margin-bottom: 20px;
    /* margin-left: -120px; */
    color: orangered;
    /* text-align: center; */
    margin-left: 900px;
    /* margin-top: 100px; */
   position: absolute;
   top: 75px;
   
}

.Text8{
    padding-top: 125px;
}

.Text8, .Text9{
    font-size: 50px;
    /* margin-left: -120px; */
    font-weight: bold;
    color: white;
    text-align: center;
}

.Sec4{
    position: relative;
}

.VideoFrame{
    background-image: url("./Project_Images/video-frame.jpg");
    width: 1070px;
    height: 480px;
    position: absolute;
    top: 300px;
    right: 450px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
}

.Button3{
    border: 10px solid rgb(248, 208, 193);
    padding: 12.5px;
    border-radius: 50%;
    background-color: white;
    margin-top: 210px;
}

.Card1{
    width: 225px;
    height: 80px;
    background-color: rgb(255, 231, 231);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    border-radius: 15px;
}

.SubCard{
    display: flex;
    justify-content: center;
    width: 100%;
}

.SubCard1{
    width: 30%;
    display: flex;
    align-items: center;
    font-size: 40px;
    font-weight: bold;
    color: orangered;
}

.SubCard2{
    font-size: 17.5px;
    font-weight: bold;
}

.Circle{
    border: 1px solid orangered;
    padding: 12.5px;
    border-radius: 50%;
    background-color: orangered;
    color: orangered;
    position: absolute;
    top: -20px;
    right: -20px;
}

.CardParent{
    display: flex;
    justify-content: space-evenly;
}

/* Section 5 from here */

.Sec5{
    background-color: rgb(244, 238, 238);
    margin-top: 100px;
    padding-bottom: 120px;
    margin-bottom: 150px;
}

.Text10{
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    border-left: 3px solid orangered;
    margin-bottom: 20px;
    /* margin-left:0px; */
    color: orangered;
    margin-top: 100px;
}

.Text11{
    font-size: 50px;
    /* margin-left: -120px; */
    font-weight: bold;
    color: black;
    /* text-align: center; */
}

.Button4{
    padding: 15px 30px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 17.5px;
}

.Button4:hover{
    background-color: orangered;
}

.Parent1{
    display: flex;
    width: 100%;
    justify-content: center;
}

.Div1{
    width: 25%;
}

.Empty1{
    width: 30%;
}

.Div2{
    width: 30%;
    margin-top: 200px;
}

.Space1{
    margin-right: 30px;
}

.Box2{
    width: 330px;
    height: 430px;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    /* margin-left: -200px; */
    margin-right: 80px;
}

.Box2Sub1{
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
    padding-bottom: 20px;
}

.Box2Parent{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    /* margin-left: 100px; */
}

.Deal1Image{
    background-image: url("./Project_Images/deal-01.jpg");
    height: 395px;
    width: 520px;
    margin-right: 80px;
}

.Bold{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
}

html,body{
    /* margin: 0px;
    border: 0px; */
    overflow-x: hidden;
}

.Extra{
    width: 20%;
}

.Text12{
    font-size: 17.5px;
    margin-bottom: 30px;
    color: gray;
}

.Button1{
    font-size: 17.5px;
    font-weight: bold;
    /* padding: 10px; */
    border-radius: 20px;
    padding: 12.5px 20px 12.5px 60px;
    background-color: black;
    position: relative;
}

/* Section 6 from here */

.Moving{
    text-align: center;
}

.Text100{
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    border-left: 3px solid orangered;
    margin-bottom: 20px;
    margin-left: 920px;
    color: orangered;
}

.Cards{
    width: 400px;
    height: 685px;
    background-color:  rgb(244, 238, 238);
    border-radius: 10px;
}

.CardParent2{
    margin-top: 100px;
}

.One{
    background-image: url("./Project_Images/property-01.jpg");
    border-radius: 10px;
}

.CardImage{
    width: 350px;
    height: 260px;
    margin-left: 25px;
    margin-top: 25px;
}

.Two{
    background-image: url("./Project_Images/property-02.jpg");
    border-radius: 10px;
}

.Three{
    background-image: url("./Project_Images/property-03.jpg");
    border-radius: 10px;
}

.Four{
    background-image: url("./Project_Images/property-04.jpg");
    border-radius: 10px;
}

.Five{
    background-image: url("./Project_Images/property-05.jpg");
    border-radius: 10px;
}

.Six{
    background-image: url("./Project_Images/property-06.jpg");
    border-radius: 10px;
}

.CardSubParent{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.CardMatter{
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 40px;
}

.Button5{
    padding: 10px 20px;
    background-color: rgb(248, 197, 178);
    border-radius: 10px;
    font-size: 17.5px;
    /* margin-left: 0px; */
}

.Text13{
    color: orangered;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 100px;
}

.Bold1{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-left: 30px;
}

.CM2{
    display: flex;
    color: gray;
    font-size: 17.5px;
    margin-bottom: 10px;
}

.CM3{
    display: flex;
    color: gray;
    font-size: 17.5px;
    margin-bottom: 20px;
}

.Text14{
    margin-left: 30px;
    margin-right: 30px;
}

.Text15{
    /* margin-left: 30px; */
    margin-right: 30px;
    padding-bottom: 20px;
}

.Button6{
    background-color: black;
    color: white;
    padding: 15px 45px;
    font-size: 17.5px;
    border-radius: 30px;
    margin-left: 100px;
    margin-top: 40px;
}

.Line1{
    border-bottom: 1px Solid rgb(210, 207, 207);
    width: 350px;
    margin-left: 25px;
}

span{
    color: black;
    font-weight: bold;
}

.Sec6{
    margin-bottom: 100px;
}

/* Section 7 from here */


.ContactBG{
    background-image: url("./Project_Images/contact-bg.jpg");
    /* width: 1600px; */
    height: 550px;
    background-size: cover;
    position: relative;
}


.Text16{
    font-size: 20px;
    font-weight: bold;
    padding-left: 5px;
    border-left: 3px solid orangered;
    margin-bottom: 20px;
    margin-left: 920px;
    color: orangered;
    position: absolute;
    top: 80px;
}

.ContactMap{
    /* display: flex;
    justify-content: center; */
    margin-top: 50px;
    margin-right: 50px;
}

.Frame{
    border-radius: 10px;
}

.ContactForm{
    width: 475px;
    height: 650px;
    background-color: white;
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin-bottom: 100px;
}

.MapParent{
    display: flex;
    justify-content: center;
}

.Label1{
    font-size: 17.5px;
    color: gray;
    margin-left: 25px;
    font-weight: bold;
    /* padding-top: 30px; */
}

.Gap{
    margin-bottom: 30px;
}

.Border2{
    border: 1px solid rgb(236, 235, 235);
    margin-top: 10px;
    margin-bottom: 30px;
    width: 390px;
    font-size: 17.5px;
    height: 50px;
    border-radius: 50px;
    background-color: rgb(236, 235, 235);
    padding-left: 20px;
    margin-left: 30px;
}

.Border3{
    border: 1px solid rgb(236, 235, 235);
    margin-top: 10px;
    margin-bottom: 30px;
    width: 390px;
    font-size: 17.5px;
    height: 100px;
    border-radius: 10px;
    background-color: rgb(236, 235, 235);
    padding-left: 20px;
    margin-left: 30px;
}

.Button7{
    background-color: black;
    color: white;
    padding: 15px 45px;
    font-size: 17.5px;
    border-radius: 30px;
    margin-left: 30px;
    margin-top: 20px;
}

.ContactCard{
    height: 100px;
    width: 275px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    margin-top: 80px; 
}

.PhoneIcon{
    background-image: url("./Project_Images/phone-icon.png");
    width: 52px;
    height: 52px;
    margin-right: 20px;
}

.EnvolopeIcon{
    background-image: url("./Project_Images/email-icon.png");
    width: 52px;
    height: 36px;
    margin-right: 20px;
}

.Text17{
    font-size: 20px;
}

.Text18{
    font-size: 17.5px;
    color: gray;
}

.Bold2{
    font-weight: bold;
}

.ConCardPar{
    display: flex;
    gap: 50px;
}

/* .Sec7{
    margin-bottom: 400px;
} */

/* Section 8 from here */

.Sec9{
    margin-top: 575px;
    height: 100px;
    background-color: rgb(26, 26, 26);
    color: white;
    font-size: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Size{
    font-size: 10px;
    
}

/* Properties section from here */
/* Section 1 from here */

.SecP1{
    background-image: url("./Project_Images/page-heading-bg.jpg");
    /* width: 1600px; */
    background-size: cover;
    height: 420px;
    margin-bottom: 100px;
}

.ButtonP1{
    padding: 15px 30px;
    background-color: white;
}

.Font2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 17.5px;
}

.TextP1{
    font-size: 60px;
    color: white;
    font-weight: bolder;
}

.Space2{
    margin-top: 25px;
}

.Div3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}


/* Section 2 from here */


.ButtonP2{
    padding: 15px 45px;
    background-color: black;
    color: white;
    border-radius: 5px;
}

.ButtonParent{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.ButtonP2:hover{
    background-color: orangered;
}


/* Section 3 from here */

.SecP3{
    margin-bottom: 100px;
}

.ButtonP3{
    padding: 15px 20px;
    background-color: black;
    color: white;
    border-radius: 50%;
}

.ButtonP3:hover{
    background-color: orangered;
}

.ButtonParent2{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.SecP5{
    margin-top: 175px;
    height: 100px;
    background-color: rgb(26, 26, 26);
    color: white;
    font-size: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Property Details from here */


.SecPD1{
    background-image: url('./Project_Images/single-property.jpg');
    width: 880px;
    height: 490px;
}

.PD1{
    display: flex;
    justify-content: center;
    gap: 70px;
    margin-bottom: 50px;
}

.Font3{
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    padding-bottom: 50px;
}

.MatterPD{
    margin-left: 320px;
}

.Border4{
    border-bottom: 1px solid rgb(210, 207, 207);
    height: 2px;
    width: 880px;
    margin-left: 320px;
}

.MatterPD2{
    margin-left: 320px;
    margin-top: 50px;
    width: 880px;
    line-height: 35px;
}

.Font4{
    font-size: 20px;
    color: gray;
}

.Span1{
    color: gray;
    font-weight: bold;
}

.Span2{
    color: rgb(18, 149, 231);
}

.Text19{
    margin-top: 40px;
}

.SecPD2{
    margin-bottom: 100px;
}


.SecPD3{
    background-color: rgb(244, 238, 238);
    margin-top: 100px;
    padding-bottom: 120px;
}

.SecPD4{
    /* margin-top: 175px; */
    height: 100px;
    background-color: rgb(26, 26, 26);
    color: white;
    font-size: 17.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* contact us from here */


.SecCU1{
    margin-top: -70px;
}

.Parent1CU{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 200px;
}

.Margin1{
    margin-top: 100px;
}

.Text20{
    font-size: 17.5px;
    width: 100%;
    margin-top: 40px;
    color: gray;
    line-height: 30px;
}

.Div11{
    width: 35%;
}

.Margin2{
    margin-top: 40px;
}

.SecCU2{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.MapCU{
    border-radius: 10px;
}










